<ion-content padding>
    <ion-button fill="outline" shape="round" (click)="close()">
        <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
    <br>
    <h2 text-center> Agrega una Publicación </h2>
    <ion-item>
        <ion-input #title type="text" placeholder="Titulo"></ion-input>
    </ion-item>
    <ion-item>
        <ion-textarea #descripcion type="text" placeholder="Descripción"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label>Inició</ion-label>
        <ion-datetime #inicio displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Termina</ion-label>
        <ion-datetime #termina displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm"></ion-datetime>
    </ion-item>
    <ion-button expand="block" shape="round" (click)="verificar_event(title.value,descripcion.value,inicio.value,termina.value)">
        <ion-icon name="calendar"></ion-icon>
    </ion-button>
</ion-content>