<ion-header>
    <ion-toolbar class="navbar" mode="ios">
        <ion-buttons slot="start">
            <ion-button style="--color:#ffffff;" (click)="navegar('home')">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button style="--background:#ffffff; --color:#000000;" (click)="select_pets()">Mascotas</ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content class="background">
    <div class="map" id="map" #map></div>

    <ion-list mode="ios">
        <ion-list-header>
            {{usuario.mascotas[0].pet_name}}
        </ion-list-header>
        <ion-item>
            <ion-label>Edad: {{usuario.mascotas[0].edad}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Raza: {{usuario.mascotas[0].raza}}
            </ion-label>
        </ion-item>
    </ion-list>


</ion-content>